.envrc
.innpulsa
jairo/
.vscode/
.cursor/
*__pycache__/
*.egg-info/
requirements.txt
*.lock
*.log
bin/

# no data but geolocation data/
data/processed/rues_total.csv
data/00_geih/*
data/01_raw/*
!data/processed/geolocation/
!data/processed/geolocation/**
data/processed/geolocation/rues_addresses/
data/processed/geolocation/zasca_addresses/

# anything with checkpoint
*checkpoint*

# innpulsa_raw (data from shared drive)
innpulsa_raw/